<div class="row users">

  <table class="responsive-table" *ngIf="users?.length > 0">
    <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.roles}}</td>
      <td><a class="user-edit-ico" (click)="editModal(user.id)"><i class="material-icons">edit</i></a></td>
    </tr>
    </tbody>
  </table>

</div>
