<div class="row users">

  <table class="responsive-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>1</td>
      <td>test</td>
      <td>test@test.pl</td>
      <td>user</td>
      <td><a class="user-edit-ico" (click)="editModal()"><i class="material-icons">edit</i></a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>test 2</td>
      <td>test@test.pl</td>
      <td>user</td>
      <td><a class="user-edit-ico" (click)="editModal()"><i class="material-icons">edit</i></a></td>
    </tr>
    <tr>
      <td>3</td>
      <td>test 3</td>
      <td>test@test.pl</td>
      <td>user</td>
      <td><a class="user-edit-ico" (click)="editModal()"><i class="material-icons">edit</i></a></td>
    </tr>
    </tbody>
  </table>

</div>
