<div class="row login">

  <div class="row">
    <div class="col s3"></div>
    <div class="col s6">

      <div class="row">
        <div class="col s12">
<!-- input login -->
          <div class="row">
            <div class="input-field col s12">
              <input id="username" type="text" class="validate"
              [(ngModel)]="loginData.username"
              >
              <label for="username">Nazwa użytkownika</label>
            </div>
          </div>
<!-- input password -->
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate"
              [(ngModel)]="loginData.password"
              (keyup.enter)="loginToApp()"
              >
              <label for="password">Hasło</label>
            </div>
          </div>
<!-- button submit -->
          <div class="row center-align">
            <div class="col s12">
              <button class="btn waves-effect waves-light" type="submit" name="action"
              (click)="loginToApp()"
              [disabled]="loginData.password.length == 0 || loginData.username.length == 0"
              >
              Zaloguj się
              <i class="material-icons right">send</i>
              </button>
              <p class="flow-text login-error">
                {{ logged?.error }}
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col s3"></div>
  </div>

</div>
