<div class="user-edit-modal">
  <h2 mat-dialog-title>Edycja użytkownika</h2>
  <mat-dialog-content class="mat-typography">

    <mat-form-field class="user-edit-width" appearance="fill">
      <mat-label>ID</mat-label>
      <input type="text" matInput value="{{userData.id}}" disabled>
    </mat-form-field>

    <mat-form-field class="user-edit-width" appearance="fill">
      <mat-label>Nazwa użytkownika</mat-label>
      <input type="text" matInput [(ngModel)]="fromData.username">
    </mat-form-field>

    <mat-form-field class="user-edit-width" appearance="fill">
      <mat-label>Adres e-mail</mat-label>
      <input type="email" matInput [(ngModel)]="fromData.email">
    </mat-form-field>

    <mat-form-field class="user-edit-width" appearance="fill">
    <mat-label>Rola</mat-label>
    <mat-select [(ngModel)]="fromData.roles">
      <mat-option>-</mat-option>
      <mat-option value="ROLE_ADMIN">ROLE_ADMIN</mat-option>
      <mat-option value="ROLE_MODERATOR">ROLE_MODERATOR</mat-option>
      <mat-option value="ROLE_USER">ROLE_USER</mat-option>
    </mat-select>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Anuluj</button>
    <button mat-raised-button color="primary" (click)="closeAndSave()" cdkFocusInitial>Zapisz</button>
  </mat-dialog-actions>
</div>
